# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Coverage
/luacov.report.out.index
/cobertura.xml

# Local Lua installation
/lua_install

# Local python virtualenv
/lua-utils-venv

# JUnit test report
/testReport.xml

node_modules

# System files
.DS_Store